{% extends 'base.html' %}
{% load i18n %}
<!-- i18n is used for using internationalization features and reads a users system 
  to find their language and be able to translate with "trans" DTL tag to users locale -->
{% load account %}
{% block head_title %}{% trans 'Password Reset' %}{% endblock head_title %}
{% block content %}
    <h1>{% trans 'Password Reset' %}</h1>
    {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
    {% endif %}
    <p>{% trans 'Forgotten your password? Enter your email below and we will send you an email with instructions on how to do so.' %}
        <form method="POST" ACTION="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="{% trans 'Reset My Password' %}">
        </form>
        <p>{% blocktrans %}Please contact us if you have any issues - maxwise70@hotmail.co.uk{% endblocktrans %}</p>
        {% endblock content %}