{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3 text-center">
      <h1>{% trans "Sign Up" %}</h1>
      <br>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
      <div class="col-md-8 mt-3 offset-md-2">
        <a href="{% url 'account_reset_password' %}">
        <p>{% trans "Forgot your password?" %}</P>
        </a>
        </div>
    </div>
    <div class="col-md-8 mt-3 d-flex align-center justify-content-center">
      <form class="signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <ul class="list-unstyled">
        {{ form.as_p }}
        </ul>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-success right" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}
