{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- category_list.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="card shadow text-center">
            <h1 class="text-center card-title mt-5">Categories</h1>
            <hr>
            <ul class="list-unstyled card-body">
                {% for category in categories %}
                <li class='pt-2'><a class='button2' href="{% url 'category_detail' category.slug %}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
{% endblock %}