{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- category_list.html content starts here -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h1 class="text-center mt-5">Categories</h1>
            <hr>
            <ul class="list-unstyled">
                {% for category in categories %}
                <li><a href="{% url 'category_detail' category.slug %}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}