{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-7 text-center mt-3 ms-1 ms-sm-4'>
            <div class='card card3'>
                <div class='card-header'>
                    <h1>{{ category.category_name }}</h1>
                </div>
                <div class='card-body small-height small-bottom'>
                    <p>Details about this category...</p>
                </div>
            </div>
            <div class='col-md-12 text-center mt-3'>
                <h2>Posts in this category</h2>
                <ul>
                    {% for post in posts %}
                    <li class='list-unstyled me-5'>
                        <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                        <p>{{ post.excerpt }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='col-4 col-sm-4 d-flex flex-column margin-left-high mt-4'>
                <!-- Other sidebar content -->
                {% include 'post_hub/random_categories.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}