{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <h1 class="fw-bolder">Post a Toot!</h1>
            <p class="lead">Let em' know what's on your mind!</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Complete</button>
            </form>
        </div>
    </div>
{% endblock %}