{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4 ms-sm-5">
    <div class="row mb-4">
        <div class="col-md-7">
            <h1 class="text-center">Search Groups</h1>
            <form method="GET" action="{% url 'group_index' %}">
                <input type="text" name="q" class="form-control" placeholder="Search for groups...">
            </form>
        </div>
        <div class="col-md-5 mt-4">
            <div class="card card3 shadow w-100">
                <div class="card-header text-center">Have leadership skills?</div>
                <div class="card-body text-center">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'create_group' %}" class="btn btn-success">Create a group</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 ms-sm-5">
        {% if usergroups %}
        {% for group, post in group_posts %}
        <h3 class="fw-bolder">You searched for:</h3>
        <div class="col-6 mt-2">
            <div class="card mb-4">
                <div class="card-img-top">
                    {% if "placeholder" in group.group_image.url %}
                    <img class="post-picture" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="post-picture" src="{{ group.group_image.url }}" alt="{{ group.name }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ group.name }}</h5>
                    <p class="card-subtitle">{{ group.description }}</p>
                </div>
                <div class="card-footer d-block d-sm-flex justify-content-between">
                    {% if post %}
                    <div>
                        <h6>Latest Post</h6>
                        <p><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a> by
                            {{ post.author.username }}</p>
                        {% else %}
                        <p>No posts yet.</p>
                        {% endif %}
                    </div>
                    <p>Members: {{ group.members.count }}</p>
                </div>
                <a href="{% url 'group_detail' group.slug %}" class="btn btn-primary">View Group</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container ms-sm-5">
    <h1 class="fw-bolder">Groups</h1>
    <div class="row card card3">
        {% for usergroup, post in group_posts %}
        <div class="col-md-6 mt-2">
            <div class="card mb-4">
                <div class="card-img-top">
                    {% if "placeholder" in usergroup.group_image.url %}
                    <img class="post-picture" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="post-picture" src="{{ usergroup.group_image.url }}" alt="{{ usergroup.name }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ usergroup.name }}</h5>
                    <p class="card-subtitle">{{ usergroup.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    {% if post %}
                    <div>
                        <h6>Latest Post</h6>
                        <p><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a> by
                            {{ post.author.username }}</p>
                        {% else %}
                        <p>No posts yet.</p>
                        {% endif %}
                    </div>
                    <p>Members: {{ usergroup.members.count }}</p>
                </div>
                <a href="{% url 'group_detail' usergroup.slug %}" class="btn btn-primary purpletext">View Group</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}