{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container ms-sm-5 ms-2 mt-2">
<div class="row">
    <h1 class="text-center mt-3">Welcome to Tooter!</h1>
    <p class="text-center">This is a place where you can find all the latest Toots from our community.</p>
    <hr>
        <div class="row">
            <!-- Main Content Column -->
            <div class="col-12 col-sm-8">
                {% for post in post_list %}
                {% if not forloop.first %}
                <hr>
                {% endif %}
                <a href="{% url 'post_detail' post.slug %}" class="post-link"
                    style="text-decoration: none; color: inherit;">
                    <div class="card mb-3 card-hover">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-img-top">
                                    <img src="{{ post.banner_image.url }}" class="post-picture" alt="{{ post.title }}">
                                    <div class="image-flash">
                                        <p class="author ms-1">Author: {{ post.author }} | Category:
                                            {{ post.category }}</p>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h2 class="card-title ms-1 title-link">{{ post.title }}</h2>
                                    <p class="card-subtitle ms-1">{% if post.group %}From Group: {{post.group}}
                                        {% endif %} </p>
                                </div>
                                <div class="card-body">
                                    <p class="card-subtitle ms-1">{{ post.blurb|truncatewords:30 }}</p>
                                </div>
                                <div class="card-footer">
                                    <p class="text-muted h6 custom-center align-center">
                                        {{ post.created_at|date:"F d, Y" }} | Upvotes: {{ post.total_upvotes }} |
                                        Downvotes:
                                        {{ post.total_downvotes }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}

                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>

            <!-- Side Widgets Column -->
            <div class="col-12 col-sm-4 d-flex flex-column">
                <!-- Categories widget-->
                <div class="card card3 mb-4 shadow w-100">
                    <div class="card-header">Top Categories</div>
                    <div class="card-body text-nowrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    {% for category in top_categories %}
                                    <li><a
                                            href="{% url 'category_detail' category.slug %}">{{ category.category_name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card card3 mb-4 shadow w-100">
                    <div class="card-header">Top Groups</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <ul>
                                    {% for group in top_groups %}
                                    <li>
                                        <a href="{% url 'group_detail' group.slug %}">{{ group.name }}</a> Tooter's - {{ group.num_members }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- I learned to use these cards at - https://www.sitepoint.com/bootstrap-card-component-introduction/ -->
                </div>
                {% include 'post_hub/suggested_categories.html' %}
                <div class="card mb-4 shadow advert w-100">
                    <div class="card-header">Advertisement space</div>
                    <div class="card-body">
                        <p>Your advertisement here</p>
                    </div>
                </div>
                <div class="card mb-4 shadow advert w-100">
                    <div class="card-header">Advertisement space</div>
                    <div class="card-body">
                        <p>Your advertisement here</p>
                    </div>
                </div>
                </div> 
                </div>
                </div>
                </div>



    {% endblock %}

    {% block copyright %}
    Copyright 2023 Mw
    {% endblock %}