{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header>
                    {% if "placeholder" in post.banner_image.url %}
                    <img src="{% static 'images/default.jpg' %}" class="img-fluid mt-5 rounded" alt="placeholder image">
                    {% else %}
                    <img src="{{ post.banner_image.url }}" class="img-fluid mt-5 rounded" alt="{{ post.title }}">
                    {% endif %}
                    <div class="col-12">
                        <h1 class="fw-bolder mb-2 mt-2">{{ post.title }}</h1>
                        <p class="text-muted mb-1">{{post.author}} | {{ post.created_at|date:"F d, Y" }}</p>
                        <p class="fw-lighter">Category: {{ post.category }}</p>
                    </div>
                </header>
                <section class="mb-5">
                    <p class="fs-5">{{ post.content | safe }}</p>
                </section>
            </article>
            <section>
                <form method="POST" class="form-control">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
                <hr>
                <div class="comment-container">
                    {% for comment in post.comments.all %}
                    <div class="comment">
                        <p class="fw-lighter">{{ comment.author }} | {{ comment.created_at|date:"F d, Y" }}</p>
                        <p>{{ comment.content }}</p>
                        <a href="javascript:void(0);" class="reply-link" data-parent-id="{{ comment.id }}">Reply</a>
                        {% include 'post_hub/comment_replies.html' with comment=comment %}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>






        {% endblock content %}