/* body */
.content-padding {
  padding-bottom: 9rem;
}

body {
  background-color: #ecf6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
}

.darktext {
  color: #23322d !important;
  font-weight: bolder;
}

.small-bottom {
  margin-bottom: -34px;
}

.margin-left-high {
  margin-left: 50px;
}

.colour-1 {
  background-color: #93cdb6;
}

.colour-2 {
  background-color: #139983!important;
}

.img-small {
  width: 70px;
  height: 70px;
}

.left-box {
  left: 0;
  margin-left: 4%;
  z-index: 1; /* Ensure it overlaps the right box */
}

.right-box {
  right: 0;
  z-index: 2; /* Ensure it overlaps the left box */
  margin-left: -15%; /* Adjust this value to control the overlap */
}

.custom-container {
  width: 50%;
  margin: 0 auto;
}

/* End body*/
/* Cards */
.post-card {
  width: 75%;
  height: 75%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-picture {
  width: 100%;
}

.card-header {
  background-color: #869377 !important;
  color: #23322d !important;
  border-radius: 10px!important;
}

.card {
  border-radius: 10px;
  background: #a6f2d4;
  box-shadow: 10px 10px 30px#888888;
}

.card-footer {
  background-color: #93cdb6;
}

.card3 {
  box-shadow: 10px 10px 30px#888888;
  background: #139983;
  max-width: 95%;
}

.card2 {
  background: #e0e0e0;
  box-shadow: 10px 15px 30px #bebebe;
}

.custom-center {
  text-align: center;
  margin-left: 0 !important;
}

.post-link {
  text-decoration: none;
  color: inherit;
}
/*Code learnt from - https://www.bing.com/search?pglt=43&q=how+to+make+a+card+look+like+its+been+pushed+down+when+hovered&cvid=bbf905a6f64d4cdb91dcc0e60b0833c9&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBBzI3M2owajGoAgiwAgE&FORM=ANNTA1&PC=LCTS */
.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* This class makes sure the below hover version acts smoothly over 0.2s to be visually appealing */
}

.card-hover:hover {
  transform: translateY(5px);
  box-shadow: 16px 16px 20px 5px rgba(0, 0, 0, 0.3);
  /*When element is hovered the transform property pushes the element 5px down
  and the shadows color gets deeper color and blur */
}

.title-link {
  text-decoration: underline;
  color: blue;
  /* This mimics the look of a link as the whole card is clickable
 and nesting <a> causes issues */
}

.title-link:hover {
  color: darkblue;
}
/*End of code learnt from - https://www.bing.com/search?pglt=43&q=how+to+make+a+card+look+like+its+been+pushed+down+when+hovered&cvid=bbf905a6f64d4cdb91dcc0e60b0833c9&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBBzI3M2owajGoAgiwAgE&FORM=ANNTA1&PC=LCTS */

/* End Cards */
/* Row Styles */
.row-style {
  background-color: #555e4d !important;
}

.row-style-2 {
  background-color: #a6f2d4 !important;
  height: 70%;
  padding-bottom: 8px;
}
/* End Row Styles */
/* Navbar */
nav {
  background-color: #93cdb6;
}

.navbar-brand {
  margin-right: 3rem!important;
}

.nav-link {
  color: #23322d;
}

a {
  color: #23322d;
}

.navbar-toggler {
  font-size: 1rem;
  padding: 0.3em 0.7em;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: 3px solid #04aa6d;
  border-radius: 1em;
  color: #23322d;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #04aa6d;
  width: 45%!important;
}

.page-link {
  color: #23322d;
  background-color: #93cdb6;
  border: solid 1px #23322d;
}

.pagination {
  background-color: #ecf6e6;
}

header {
  position: relative;
  z-index: 1000;
}
/* start of content from - https://www.youtube.com/watch?v=IP_rtWEMR0o&t=438s */
/* I watched a JSconference video on youtube and learned how to create a switch with just HTML and CSS,
   I thought thise was pretty cool as you needed zero javascript to create a switch */
input#day-night {
  appearance: none;
  position: relative;
  display: inline-block;
  background: skyblue;
  height: 1.65rem;
  width: 2.75rem;
  vertical-align: middle;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;
}

input#day-night::before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: #dff046;
  border-radius: 1.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.25s linear transform;
  transform: translateX(0rem);
}

input#day-night:checked {
  background: #384653;
}

input#day-night:checked::before {
  transform: translateX(1rem);
  background: #e4e1d5;
}

/* when the body has the class night-mode the below styles are applied */

body.night-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.night-mode a {
  color: #3498db;
}

body.night-mode .card {
  background: #507091;
  box-shadow: none;
}

body.night-mode .card-footer {
  background: #3d566e;
}

body.night-mode .nested-comment {
  background: #43515f !important;
}

body.night-mode .sidebar {
  background: #43515f;
}

/*These two below are for keyboard users so its clear whats being selected */
input#day-night:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

input#day-night:focus {
  outline-color: transparent;
}
/* input included at the start for specificity */
/* end of content from - https://www.youtube.com/watch?v=IP_rtWEMR0o&t=438s */

/* Side navbar */
.sidebar {
  margin: 0;
  padding: 0;
  background-color: #869377;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  z-index: 10;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white !important;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar .nav-link {
  color: #23322d;
}
/* End Navbar */
/* Modal */
.background-modal {
  background-color: #28323c;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  text-align: center;
  z-index: 2000;
  width: 50%;
  margin-left: 25%;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  text-align: center;
  z-index: 2000;
  width: 50%;
  margin-left: 25%;
}
/* End Modal */
/* dynamic classes */
.active {
  color: white;
}
/* End dynamic classes */
/* Widgets */
@media screen and (min-width: 770px) {
  .widget {
    margin: 0 auto;
  }
}
/* End Widgets */
/* Adverts */
.advert {
  background-color: #93cdb6;
  color: #23322d;
  text-align: center;
  height: 700px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* End Adverts */
/* Footer */
footer {
  position: relative;
  bottom: 0;
  z-index: 1000;
  background-color: #869377;
  color: #23322d;
  text-align: center;
  width: 100%;
  margin-bottom: -20px;
  padding: 7px;
  white-space: nowrap;
}

.small-height {
  margin-top: -24px;
}

.footer-item {
  font-size: 11px;
}
/* End Footer */
/* Comments */
.comment {
  margin-left: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.nested-comment {
  margin-left: 20px;
  background-color: #f9f9f9;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}
/* End Comments */
/* Buttons */
.btn {
  font-size: 1rem;
  padding: 0.3em 0.7em;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: 3px solid #04aa6d;
  border-radius: 1em;
  color: #23322d;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #04aa6d;
  width: 30%!important;
}

.btn-lg-width {
  width: 70%!important;
}

.collapse button {
  width: 30%!important;
}

button {
  font-size: 1rem;
  padding: 0.2em 0.3em;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: 3px solid #04aa6d;
  border-radius: 1em;
  color: #23322d;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #04aa6d;
  width: 10%!important;
}

button:hover {
  transform: translate(5px, -5px);
}

.button-like:hover {
  transform: translate(5px, -5px);
}

.button-container {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.button2 {
  font-size: 1rem;
  padding: 0.3em 2em;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: 3px solid #04aa6d;
  border-radius: 1em;
  color: #23322d;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #04aa6d;
  width: 80%!important;
}

.button3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: #23322d;
  outline: 2px #23322d solid;
  outline-offset: -1px;
  padding: 5px;
  border-radius: 5px;
  transform: skewX(-15deg);
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.button2:hover {
  background-color: #ddaf69;
  transform: translateY(-2px);
}

.button3:hover {
  background-color: #ddaf69;
  transform: translateY(-2px);
}

.collapse button {
  width: 100%;
}

.commentButtonCollapse {
  width: 50%;
  display: flex;
  gap: 9px!important;
  justify-content: center;
}
/* End Buttons */
/* Vote */

.like {
  border: 3px solid blue;
  box-shadow: -5px 5px 0px 0px blue;
  min-width: 4rem!important;
}

.dislike {
  border: 3px solid red;
  box-shadow: -5px 5px 0px 0px red;
  min-width: 4rem!important;
}
/* End Vote */
/* Media queries */
@media screen and (max-width: 300px) {
  .button {
    padding: 0.3rem;
  }

  .btn {
    padding: 0.3rem;
  }
}

@media screen and (max-width: 435px) {
  .navbar-toggler {
    width: 100%!important;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0!important;
  }
}

@media screen and (max-width: 575px) {
  .sidebar {
    display: none;
  }

  .content-padding {
    margin-left: 0;
  }
  
}

@media screen and (max-width: 750px) {

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phone-column {
    display: flex;
    flex-direction: column;
  }

  .btn-sm-width {
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  .button-container {
    display: flex;
    flex-direction: row;
  }

  .btn-sm-width {
    width: 50%;
  }

}

@media screen and (max-width: 990px) {
  .right-box {
    margin-left: auto;
  }

  .left-box {
    margin-left: auto;
  }

}