.post-card {
    width: 75%;
    height: 75%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.post-picture {
    width: 100%; 
    height: 100px;
}

.card-header {
   background-color: #28323C !important;
    color: #caced1 !important;
}

footer {
    color:#caced1 !important;
 }

.row-style {
    background-color:#1E242A !important;
}

.row-style-2 {
    
    background-color: #28323C !important;
}

.content-padding {
    padding-bottom: 7rem;
}

.card {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
}

header {
    position: relative;
    z-index: 1000;
}

/* Style for parent comments */
.comment {
    margin-left: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for nested comments */
.nested-comment {
    margin-left: 20px; /* Adjust the value as needed */
    background-color: #f9f9f9;
    border-left: 3px solid #ccc;
    padding-left: 10px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    z-index: 10;
}


.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}


.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Media querys */
@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .sidebar  {
        display: none;
    }
}

@media (max-width: 576px) {
    .phone-center {
        text-align: center;
        margin-left: 0 !important;
    }
}
